.wrapper {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.box {
    height: 50px;
    width: 50px;
    background-color: transparent;
    float:left;
}

.endBox {
    clear:both;
}

#buttons {
    margin: 40px;
    text-align: center;
}
