.wrapper {
    border: solid black;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.box {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    float:left;
}

.endBox {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    float:left;
    clear:both;
}
